body {
  background:linear-gradient(#8D96F9,#E9B3FF);
  height:100vh;
  

}
h3{
  border:2px solid black;
  border-radius:10px;
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
}

.board {
  background-color: #F1B5DC;
  height: 250px;
  width: 249px;
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  margin-top:100px; 
}

.tile {
  height: 83px;
  width: 79px;
  border: 2px solid black;
  background-color: #BBD9EE;
  text-align: center;
  font-size:24px;
  transition:0.5 ease-in-out;
}